{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1">
                <div class="post-preview">
                    <img src="{{ blog.image.url }}" alt="" style="width:80%;margin-left:10%">
                    <p class="">{{ blog.text|linebreaksbr }}</p>
                </div>
        </div>
    </div>
{#    {% endfor %}#}
    <hr>
{% endblock content %}