{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% for blog in blogs.all  %}
                <div class="post-preview">
                    <a href="{{ blog.id }}">
                        <h2 class="post-title">
                            {{ blog.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ blog.date }}
                        </h3>
                    </a>
                    <p class="post-meta">{{ blog.short_text }}</p>
                </div>
                {% endfor %}
                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endblock content %}